
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    color:  #3d3c3c;
}

.l-page{
    background-color: #18EDA5;
    padding-bottom: 1rem;
}
header{
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)); */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 30px;

}


.logo img{
    width: 50px;
}


.nav-link{
    display: flex;
    margin-right: 10px;
    list-style-type: none;
}


.nav-link li {
    padding: .5em;
}


.nav-link li a{
    padding: .5em;
    text-decoration: none;
    border: 1px solid rgb(21, 216, 250);
    border-radius: 4px;
    font-family:Roboto, sans-serif;
}


.nav-link li a:hover {
    background-color: rgb(21, 216, 250);
    color: white;
    transition: .5s ease-out;
}


.main-section {
    margin-top: 50px;
    display: flex;
    padding: 0 5%;
    
}



.left{
    /* padding-left: 5%; */
}


.left h1 {
    font-size: 4rem;
}


.left p {
    margin-bottom: 5px;
}


.btn {
    height: 40px;
    padding: 0.6em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: #fff;
}

.btn:hover{
    padding: 0.6em;
    border-radius: 25px;
    border: none;
    font-family:'Roboto', sans-serif;
    cursor: pointer;
    background-color: white;
}


.right img{
    max-width: 50vw;
}
